

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}
.header {
width:100%;
height:10%;
  display: flex;
  flex-direction: column;
  position: Fixed;
  z-index: 1;

  padding: 1%;

  }

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}
.navlist {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navitem {
  margin-right: 1rem;
}

.navlink {
  color: #e60000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
.padding1px {
  padding-top: 1px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;

}
.listItem {
  margin: 0 0 1.25rem;

}
.lightText {
  color: #666;
}
.h1{
font-weight: bold;
font-size: 30px;
text-align: center;
margin-bottom: 3%;
}
.hero {
height: 80%;

  display: flex;
  flex-direction: column;
  /* flex-direction: row-reverse; */
  justify-content: center;
  align-items: center;
color: #ffffff;
}

.heroText {
  max-width: 70%;
  padding: 1rem;

  /* transparent white background */

}
.heroText1 {
  max-width: 40%;
  padding: 1rem;

  /* transparent white background */
margin-top:3%;
}



.main
{
padding-top: 5%;}

.heroTitle
{
 display: flex;
  flex-direction: row;
  margin:6%;
}
.heroTitle1

{
margin: 8%;
}



